@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --layout-header-height: 64px;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

html,
body,
#__next {
  height: 100%;
}

.main {
  min-height: 0;
}

@media (max-width: 768px) {
  .sidebar {
    width: 80%;
  }

  .chat-layout {
    flex-direction: column;
  }
}
